<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Shortener Url App | Home</title>
</head>

<body>
  <h1>Shorten Your URL Here!</h1>

  <form action="http://localhost:5000/" method="post" class="form" role="form">
    <input type="url" name="longUrl" id="longUrlText" placeholder="Place your Url here" <% if (url !== null) { %>
      value="<%= url.longUrl %>" <% } %> required>
    <button type="submit" id="shortenBtn">Shorten</button>
  </form>

  <div class="result <% if (url !== null) { %> show <% } %>">
    <form class="form">
      <h3>Successfully shortened. Go Ahead!</h3>
      <input type="text" id="shortenedUrlText" <% if (url !== null) { %> value="<%= url.shortenedUrl %>" <% } %>
        readonly>
      <button id="copyBtn">Copy</button>
    </form>
  </div>

  <script src="app.js"></script>
</body>

</html>